
nav{
    min-width: fit-content;
    font-family: 'Dela Gothic One', sans-serif;
    margin: 2.89rem;
    height: 100%; 

    .navbar {
        text-decoration: none;
        h3{
            color: black;
            font-size: 2rem;
        }
    }
    
} 

@media (max-width : 500px) {
    nav {
        margin: 0;
        margin-top: 3rem;
        margin-left: 2rem;
         .navbar h3{
            font-size: 2rem;
            display: flex;
            justify-content: start;
            align-items: start;

         }
    }
}

@media (max-width : 290px) {
    nav {
         .navbar h3{
            font-size: 1.5rem;
         }
    }
}